{
  "openapi": "3.0.2",
  "info": {
    "title": "Crude Price API Documentation",
    "description": "Real-time and historical Brent/WTI crude oil prices API with comprehensive data, \n99.9% uptime, and developer-friendly JSON responses.\n\n## Authentication\n\nAll API requests require authentication using one of the following methods:\n- **Header**: `x-api-token: YOUR_API_KEY`\n- **Header**: `Authorization: Bearer YOUR_API_KEY`\n\nYour API key is a 32-character base64url string that you receive after signing up.\n\n## Rate Limits\n\nEach plan has a monthly request quota:\n- **Free**: 100 requests/month\n- **Starter**: 10,000 requests/month\n- **Growth**: 25,000 requests/month\n- **Premium**: 100,000 requests/month\n\nWhen you exceed your quota, you'll receive a `429 Too Many Requests` response.\n",
    "version": "1.0",
    "contact": {
      "name": "Crude Price API Support",
      "email": "hello@crudepriceapi.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://crudepriceapi.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "schemas": {
      "Price": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "Current Oil Price in USD",
            "example": 82.45
          },
          "formatted": {
            "type": "string",
            "description": "Formatted Oil Price with currency symbol",
            "example": "$82.45"
          },
          "currency": {
            "type": "string",
            "description": "Base Currency Code",
            "example": "USD"
          },
          "code": {
            "type": "string",
            "description": "Oil Currency Code",
            "example": "BRENT_CRUDE_USD"
          },
          "type": {
            "type": "string",
            "description": "Price Type",
            "example": "spot_price"
          },
          "created_at": {
            "type": "string",
            "description": "Price Update Date (ISO 8601)",
            "format": "date-time",
            "example": "2025-01-20T12:00:00.000Z"
          },
          "next_two_months_predictions": {
            "type": "array",
            "description": "AI-powered price predictions for the next 2 months",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date",
                  "example": "2025-02-01"
                },
                "predicted_price": {
                  "type": "number",
                  "example": 83.2
                },
                "confidence": {
                  "type": "number",
                  "description": "Prediction confidence score (0-1)",
                  "example": 0.85
                }
              }
            }
          }
        }
      },
      "PriceHistory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "commodity": {
            "type": "string",
            "example": "BRENT_CRUDE"
          },
          "price": {
            "type": "number",
            "example": 82.45
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-20T12:00:00.000Z"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Unauthorized"
          }
        }
      },
      "QuotaExceeded": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Quota exceeded - please upgrade your plan."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-token",
        "description": "API key as header (alternative to Authorization Bearer)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key as Bearer token in Authorization header"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/prices/latest": {
      "get": {
        "summary": "Get Latest Oil Price",
        "description": "Returns the most recent oil price with AI-powered 2-month predictions.\nPrices are updated every 5 minutes.\n",
        "operationId": "getLatestPrice",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "API key (alternative to Authorization header)"
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Bearer token with API key (format: Bearer YOUR_API_KEY)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest price",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Price"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 82.45,
                    "formatted": "$82.45",
                    "currency": "USD",
                    "code": "BRENT_CRUDE_USD",
                    "type": "spot_price",
                    "created_at": "2025-01-20T12:00:00.000Z",
                    "next_two_months_predictions": [
                      {
                        "date": "2025-02-01",
                        "predicted_price": 83.2,
                        "confidence": 0.85
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "User not found"
                }
              }
            }
          },
          "429": {
            "description": "Quota exceeded - Monthly request limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaExceeded"
                },
                "example": {
                  "error": "Quota exceeded - please upgrade your plan."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prices": {
      "get": {
        "summary": "Get Recent Prices",
        "description": "Returns the most recent 100 oil prices for charting and analysis.\nPrices are ordered by timestamp (most recent first).\n",
        "operationId": "getRecentPrices",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "API key (alternative to Authorization header)"
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Bearer token with API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with recent prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceHistory"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prices/past-day": {
      "get": {
        "summary": "Get Prices from Past Day",
        "description": "Returns all oil prices from the last 24 hours.\nUseful for intraday analysis and short-term trends.\n",
        "operationId": "getPastDayPrices",
        "tags": [
          "Historical Data"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceHistory"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prices/past-week": {
      "get": {
        "summary": "Get Prices from Past Week",
        "description": "Returns all oil prices from the last 7 days.\nPerfect for weekly trend analysis.\n",
        "operationId": "getPastWeekPrices",
        "tags": [
          "Historical Data"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceHistory"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prices/past-month": {
      "get": {
        "summary": "Get Prices from Past Month",
        "description": "Returns all oil prices from the last 30 days.\nIdeal for monthly trend analysis and reporting.\n",
        "operationId": "getPastMonthPrices",
        "tags": [
          "Historical Data"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceHistory"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prices/past-year": {
      "get": {
        "summary": "Get Prices from Past Year",
        "description": "Returns all oil prices from the last 365 days.\nComprehensive historical data for long-term analysis and backtesting.\n",
        "operationId": "getPastYearPrices",
        "tags": [
          "Historical Data"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceHistory"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}